<HTML ng-app="vixis">
    <HEAD>
         <TITLE>Antibody Annotation</TITLE> 
<META http-equiv="Content-Type" content="text/html; charset=windows-1252">
<META name="description" content="Antibody Annotation and Visualization"> 
<LINK href="AngularPlasmid_files/prettify.css" rel="stylesheet"> <LINK href="AngularPlasmid_files/colorpicker.css" rel="stylesheet"> 
<LINK href="AngularPlasmid_files/style.css" rel="stylesheet">  
   

</HEAD>	 
<BODY ng-cloak="">

        <DIV style="width: 90%; margin-right: auto; margin-left: auto; position: relative;">  
<div class="row">
        <div class="col-sm-12">
            <h1>Antibody Annotation</h1>

            <!-- Select a gb file to annotate-->
            <div> 
                <h2>Select the input Genbank file</h2>
                <input type=file id="genbankFile" accept=".gb"/>
            </div>

            <!-- Select an annotation schema-->
            <div>
                <h2>Select the Schema to Annotate the Sequence</h2>
                <select id="select_schemas"></select>
                <p></p>
                <input type="button" id="genericAnnotation" value="Annotate the Sequence"></button>
            </div>

            <!-- Validate the Generic Annotation Result-->
            <div>
                <h2>Validate the Generic Annotation Result</h2>
                <div id="features"></div>
            </div>


            <div>
                <h2>Download the Annotation Genbank File</h2>
                <button id="updateDownloadName" onclick="updateDownloadFileName();">Click to Update the File Name</button>
                <p></p>
                <input id='finalGBFileName' type="text" value="FileNameToBeDownloaded.gb" size=100>
                <p></p>
                <a id='download'  download='Download.csv' hidden></a>
                <p></p>
                <button onclick="downloadGBFile();">Download Genbank File</button>
            </div>
        
        
            <div>
                <h2>Annotation Linear Visualization</h2>
                <input type="checkbox" id="showDNA" onclick="showDNA();"> Show DNA
                <div id="linear_vis"></div>
            </div>

            <div>
            <H2>Annotation Circular Visualization</H2>
            </div>

        </div>
       
</div>
</DIV>

<DIV class="content container" ng-controller="PlasmidCtrl">
<DIV id="home">
<DIV class="jumbotron">

  
<div>
    <button id="updateCircular" ng-click="updateCircularVis()">Click to Update the Circular Display</button>
</div>  

<DIV class="row">
<DIV class="col-sm-12 text-center">

    <style>
        @import url("http://fonts.googleapis.com/css?family=Lato:300,400,700|Donegal+One|Source+Code+Pro:400");
        body {font-family: 'Lato';font-weight:400;}
        .boundary {stroke-dasharray:2,2;stroke-width:2px}
        .mdlabel {font-size:12px}
        .smlabel {font-size:8px}
        .white {fill:#fff}
        .red {fill:rgb(192,64,64)}
        .purple {fill:rgb(192,64,192)}
        .blue {fill:rgb(64,192,192)}
        .green {fill:rgb(64,192,64)}
        .gold {fill:rgb(192,128,64)}
    </style>

                
<plasmidapi name="api"></plasmidapi>                 
<DIV style="width: 90%; margin-right: auto; margin-left: auto; position: relative;">
    <plasmid class="plasmid" id="pdemo" sequence="{{sequence}}" plasmidwidth="800" plasmidheight="600">
        <plasmidtrack width="25" radius="200" trackclass="track">
            <tracklabel vadjust="-10" text="{{gbFile}}" labelclass="tracklabeltitle"></tracklabel>             
            <tracklabel vadjust="25" text="{{api.plasmid('pdemo').sequencelength}} bp" labelclass="tracklabelbody"></tracklabel>                                                       
            <trackscale tickclass="scale-minor" interval="100"></trackscale>                  
            <trackscale labelclass="scale-majortext" tickclass="scale-major" interval="1000" showlabels="1"></trackscale>    

<!--
draw the main markers and labels
 <trackmarker start="500" end="950" markerstyle="fill:rgba(170,0,85,0.9)" arrowendlength="4" arrowstartlength="-4">
    <markerlabel type="path" class="mdlabel white" text="HSP70"></markerlabel>
</trackmarker>
<trackmarker start="1200" end="1900" markerstyle="fill:rgba(85,0,170,0.9)" arrowendlength="4" arrowstartlength="-4">
    <markerlabel type="path" class="mdlabel white" text="NF1 Promoter"></markerlabel>
</trackmarker>
<trackmarker start="2000" end="2300" markerstyle="fill:rgba(0,85,170,0.9)" arrowendlength="4" arrowstartlength="-4">
    <markerlabel type="path" class="mdlabel white" text="Sig"></markerlabel>
</trackmarker>
<trackmarker start="2500" end="3000" markerstyle="fill:rgba(85,170,0,0.9)" arrowendlength="4" arrowstartlength="-4">
    <markerlabel type="path" class="mdlabel white" text="ColE1 Ori"></markerlabel>
</trackmarker>
<trackmarker start="3250" end="3450" markerstyle="fill:rgba(170,85,0,0.9)" arrowendlength="4" arrowstartlength="-4">
    <markerlabel type="path" class="mdlabel white" text="P3"></markerlabel>
</trackmarker>


draw the region boundaries lines for each marker
<trackmarker start="500" markerstyle="stroke:rgba(128,64,64,0.8)" class="boundary" wadjust="20">
    <markerlabel class="smlabel red" text="500" vadjust="50"></markerlabel>
</trackmarker>
<trackmarker start="950" markerstyle="stroke:rgba(128,64,64,0.8)" class="boundary" wadjust="20">
    <markerlabel class="smlabel red" text="950" vadjust="50"></markerlabel>
</trackmarker>
<trackmarker start="1200" markerstyle="stroke:rgba(128,64,128,0.8)" class="boundary" wadjust="20">
    <markerlabel class="smlabel purple" text="1200" vadjust="50"></markerlabel>
</trackmarker>
<trackmarker start="1900" markerstyle="stroke:rgba(128,64,128,0.8)" class="boundary" wadjust="20">
    <markerlabel class="smlabel purple" text="1900" vadjust="50"></markerlabel>
</trackmarker>
<trackmarker start="2000" markerstyle="stroke:rgba(64,128,128,0.8)" class="boundary" wadjust="20">
    <markerlabel class="smlabel blue" text="2000" vadjust="50"></markerlabel>
</trackmarker>
<trackmarker start="2300" markerstyle="stroke:rgba(64,128,128,0.8)" class="boundary" wadjust="20">
    <markerlabel class="smlabel blue" text="2300" vadjust="50"></markerlabel>
</trackmarker>
<trackmarker start="2500" markerstyle="stroke:rgba(64,128,64,0.8)" class="boundary" wadjust="20">
    <markerlabel class="smlabel green" text="2500" vadjust="50"></markerlabel>
</trackmarker>
<trackmarker start="3000" markerstyle="stroke:rgba(64,128,64,0.8)" class="boundary" wadjust="20">
    <markerlabel class="smlabel green" text="3000" vadjust="50"></markerlabel>
</trackmarker>
<trackmarker start="3250" markerstyle="stroke:rgba(128,128,64,0.8)" class="boundary" wadjust="20">
    <markerlabel class="smlabel gold" text="3250" vadjust="50"></markerlabel>
</trackmarker>
<trackmarker start="3450" markerstyle="stroke:rgba(128,128,64,0.8)" class="boundary" wadjust="20">
    <markerlabel class="smlabel gold" text="3450" vadjust="50"></markerlabel>
</trackmarker>

-->
<!-- TARGET SUBDOMAINS -->
<trackmarker markerclass="markerhover" ng-repeat="m in featureMarkers" style="fill:rgba(0,0,128,.4)" start="{{m.start}}" end="{{m.end}}" wadjust="8" vadjust="-4" markerclick="markerClick($event, $marker)">
    <markerlabel labelclass="markerlabel" text="{{m.text}}" style="fill:#fff;font-weight:700" ></markerlabel>
</trackmarker>

<trackmarker  markerstyle="stroke:rgba(128,128,64,0.8)" class="boundary" wadjust="20" ng-repeat="m in featureMarkers"  start="{{m.start}}" >
    <markerlabel class="smlabel gold" text="{{m.start}}" vadjust="50" ></markerlabel>
</trackmarker>

<trackmarker  markerstyle="stroke:rgba(128,128,64,0.8)" class="boundary" wadjust="20" ng-repeat="m in featureMarkers"  start="{{m.end}}" >
    <markerlabel class="smlabel gold" text="{{m.end}}" vadjust="50" ></markerlabel>
</trackmarker>

<!-- TARGET LINKERS -->
<trackmarker markerclass="markerhover" ng-repeat="m in linkerMarkers" style="fill:rgba(0,0,128,.4)" start="{{m.start}}" end="{{m.end}}" wadjust="8" vadjust="-54" markerclick="markerClick($event, $marker)">
    <markerlabel labelclass="markerlabel" text="{{m.text}}" style="fill:#000;font-weight:700" ></markerlabel>
</trackmarker>

<trackmarker  markerstyle="stroke:rgba(128, 128, 64,0.8)" class="boundary" wadjust="20" ng-repeat="m in linkerMarkers"  start="{{m.start}}" >
    <markerlabel class="smlabel gold" text="{{m.start}}" vadjust="60" ></markerlabel>
</trackmarker>

<trackmarker  markerstyle="stroke:rgba(128, 128, 64,0.8)" class="boundary" wadjust="20" ng-repeat="m in linkerMarkers"  start="{{m.end}}" >
    <markerlabel class="smlabel gold" text="{{m.end}}" vadjust="60" ></markerlabel>
</trackmarker>




</plasmidtrack>  
</plasmid>                    
         
</DIV></DIV></DIV></DIV></DIV>

<script src="constants.js"></script>
<script src="genericAnnotation.js"></script>
<script src="loadSchema.js"></script>
<script src="parseGenbank.js"></script>
<script src="updateDownloadName.js"></script>
<script src="showDNA.js"></script>
<script src="validateAnnotation.js"></script>
<script src="linearVis.js"></script>
<script src="circularVis.js"></script>
<script src="downloadGBFile.js"></script>

 
<SCRIPT src="AngularPlasmid_files/angular.min.js"></SCRIPT>
 
<SCRIPT src="AngularPlasmid_files/angular-sanitize.min.js"></SCRIPT>
 
<SCRIPT src="AngularPlasmid_files/angular-touch.min.js"></SCRIPT>
 
<SCRIPT src="AngularPlasmid_files/angular-slider.min.js"></SCRIPT>
        
<SCRIPT src="AngularPlasmid_files/ui-bootstrap.min.js"></SCRIPT>
 
<SCRIPT src="AngularPlasmid_files/prettify.js"></SCRIPT>
 
<SCRIPT src="AngularPlasmid_files/angularplasmid.min.js"></SCRIPT>
	
<SCRIPT lang="javascript" src="AngularPlasmid_files/home.js"></SCRIPT>
 </BODY></HTML>
