<!DOCTYPE html>
<html>
    <head>
            
        <style>
            #p1 {border:1px solid #ccc}
            #t1 {fill:#f0f0f0;stroke:#ccc}
            .sminor {stroke:#ccc}
            .smajor {stroke:#f00}
            .sml { fill:#999;font-size:10px }
            .smajorin { stroke:#999 }
            .marker { fill:#fc0;stroke:#fc0 }
        </style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>

        <div>
            <h1>Antibody Annotation </h1>
        </div>

        <p></p>

        <div>
            <h2>Select the input Genbank file</h2>
            <input type=file id="genbankFile" accept=".gb"/>
        </div>

        <p></p>
       
        <div>
            <h2>Select the Schema to Annotate the Sequence</h2>
            <select id="select_schemas">
            </select>
            <p></p>
            <input type="button" id="genericAnnotation" value="Annotate the Sequence"></button>
        </div>


        <p></p>
        

        <div>
            <h2>Validate the Annotation Result</h2>
            <div id="features">
            </div>
 
        </div>


        <p></p>
       

        <div>
            <h2>Download the Annotation Genbank File</h2>
            <input type="text" value="FileNameToBeDownloaded.gb" size=100>
            <p></p>
            <button>Download Genbank File</button>
        </div>

        <p>

        <div>
            <h2>Annotation Linear Visualization</h2>
            <div id="linear_vis">
            </div>
        </div>

        <p></p>
      
        <div>
            <h2>Annotation Circular Visulization</h2>
            <div id="circular_vis">
                    <input id="r1" type="text" ng-model="myRad">
                    <plasmid id='p1' sequencelength='9070' plasmidheight='800' plasmidwidth='800'>
                        <plasmidtrack id='t1' radius="300"> 
                            <trackscale class='sminor' interval='100'></trackscale>
                            <trackscale class='smajor' interval='1000' showlabels='1' labelclass='sml'></trackscale>
                            <trackscale class='smajorin' interval='50' direction='in'></trackscale>
                            <trackmarker class='marker' start='50' end='250'></trackmarker>
                            <trackmarker class='marker' start='500' end='550'></trackmarker>
            
            
                            <trackmarker start="4001" end="{{myRad}}}" markerstyle="fill:#339" vadjust="-15" wadjust="-23" arrowendlength="5" arrowendwidth="3">
                                <markerlabel type="path" text="Signal Peptide" valign="inner" labelclass="mdlabel blue" vadjust="-2"></markerlabel>                
                            </trackmarker>
            
                            <trackmarker start="4061" end="6259" markerstyle="fill:#339" vadjust="-15" wadjust="-23" arrowendlength="5" arrowendwidth="3">
                                <markerlabel type="path" text="Mature Protein" valign="inner" labelclass="mdlabel blue" vadjust="-2"></markerlabel>                
                            </trackmarker>
            
                            <trackmarker start="4061" end="4417" markerstyle="fill:#339" vadjust="-50" wadjust="-23" arrowendlength="5" arrowendwidth="3">
                                <markerlabel type="path" text="CLL1_11_VH" valign="inner" labelclass="mdlabel blue" vadjust="+2" ></markerlabel>                
                            </trackmarker>
            
                            <trackmarker start="5579" end="6259" markerstyle="fill:#339" vadjust="-70" wadjust="-23" arrowendlength="5" arrowendwidth="3">
                                <markerlabel type="path" text="hFc_Knob_N297A_CREEM_H435R" valign="inner" labelclass="mdlabel blue" vadjust="+2" ></markerlabel>                
                            </trackmarker>
            
                            <trackmarker start="4418" end="4726" markerstyle="fill:#339" vadjust="-90" wadjust="-23" arrowendlength="5" arrowendwidth="3">
                                <markerlabel type="path" text="CH1" valign="inner" labelclass="mdlabel blue" vadjust="+2" ></markerlabel>                
                            </trackmarker>
            
                            <trackmarker start="4757" end="5518" markerstyle="fill:#339" vadjust="-110" wadjust="-23" arrowendlength="5" arrowendwidth="3">
                                <markerlabel type="path" text="hzSP34_VHVL" valign="inner" labelclass="mdlabel blue" vadjust="+2" ></markerlabel>                
                            </trackmarker>
            
                            
            
                        </plasmidtrack>
                    </plasmid>
            
            </div>
        </div>
    </body>
   
            
    <script src="angularplasmid.complete.min.js"></script>
    <script src="constants.js"></script>
    <script src="genericAnnotation.js"></script>
    <script src="loadSchema.js"></script>
    <script src="parseGenbank.js"></script>
    <script src="validateAnnotation.js"></script>
    <script src="linearVis.js"></script>
    <script src="circularVis.js"></script>
   
   
</html>