@font-face {
	font-family: Donegal One;
	src: local("Donegal One"), local("DonegalOne-Regular"), url(http://fonts.gstatic.com/s/donegalone/v5/m8JWjfRYea-ZnFz6fsK9FaRCTmg.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	src: local("Lato Light"), local("Lato-Light"), url(http://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwiPHw.woff) format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	src: local("Lato Regular"), local("Lato-Regular"), url(http://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWA.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	src: local("Lato Bold"), local("Lato-Bold"), url(http://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwiPHw.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Source Code Pro;
	src: local("Source Code Pro"), local("SourceCodePro-Regular"), url(http://fonts.gstatic.com/s/sourcecodepro/v7/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevQ.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
