.pln {
	color: rgb(0, 0, 0);
}
@media screen
{
.str {
	color: rgb(0, 136, 0);
}
.kwd {
	color: rgb(0, 0, 136);
}
.com {
	color: rgb(136, 0, 0);
}
.typ {
	color: rgb(102, 0, 102);
}
.lit {
	color: rgb(0, 102, 102);
}
.pun {
	color: rgb(102, 102, 0);
}
.opn {
	color: rgb(102, 102, 0);
}
.clo {
	color: rgb(102, 102, 0);
}
.tag {
	color: rgb(0, 0, 136);
}
.atn {
	color: rgb(102, 0, 102);
}
.atv {
	color: rgb(0, 136, 0);
}
.dec {
	color: rgb(102, 0, 102);
}
.var {
	color: rgb(102, 0, 102);
}
.fun {
	color: red;
}
}
@media print, projection
{
.str {
	color: rgb(0, 102, 0);
}
.kwd {
	color: rgb(0, 0, 102); font-weight: bold;
}
.com {
	color: rgb(102, 0, 0); font-style: italic;
}
.typ {
	color: rgb(68, 0, 68); font-weight: bold;
}
.lit {
	color: rgb(0, 68, 68);
}
.pun {
	color: rgb(68, 68, 0);
}
.opn {
	color: rgb(68, 68, 0);
}
.clo {
	color: rgb(68, 68, 0);
}
.tag {
	color: rgb(0, 0, 102); font-weight: bold;
}
.atn {
	color: rgb(68, 0, 68);
}
.atv {
	color: rgb(0, 102, 0);
}
}
pre.prettyprint {
	padding: 2px; border: 1px solid rgb(136, 136, 136); border-image: none;
}
ol.linenums {
	margin-top: 0px; margin-bottom: 0px;
}
li.L0 {
	list-style-type: none;
}
li.L1 {
	list-style-type: none;
}
li.L2 {
	list-style-type: none;
}
li.L3 {
	list-style-type: none;
}
li.L5 {
	list-style-type: none;
}
li.L6 {
	list-style-type: none;
}
li.L7 {
	list-style-type: none;
}
li.L8 {
	list-style-type: none;
}
li.L1 {
	background: rgb(238, 238, 238);
}
li.L3 {
	background: rgb(238, 238, 238);
}
li.L5 {
	background: rgb(238, 238, 238);
}
li.L7 {
	background: rgb(238, 238, 238);
}
li.L9 {
	background: rgb(238, 238, 238);
}
